@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-bg: #F0EFFF;
  --color-accent: #6C63FF;
}

html,
body {
  background-color: #F0EFFF;
  scroll-behavior: smooth;
}

/* Prevent Tailwind v4 from interfering with React Flow internals */
.react-flow__renderer,
.react-flow__zoompane,
.react-flow__selectionpane {
  all: unset;
}